In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
WARNING: There was an error checking the latest version of pip.

In [2]:
%load_ext sql

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [4]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [5]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
%%sql $CONNECT_DATA
SELECT departure_airport, arrival_airport
FROM Flights 
JOIN Ticket_flights USING(flight_id)
JOIN Tickets t USING(ticket_no)
Where t.passenger_name='ELLA DMITRIEVA'

7 rows affected.

[('DME', 'HMA'),
 ('DME', 'UUS'),
 ('HMA', 'DME'),
 ('SVO', 'SVX'),
 ('SVX', 'SVO'),
 ('SVX', 'MQF'),
 ('MQF', 'SVX')]

In [29]:
%%sql $CONNECT_DATA

SELECT 
    f.departure_airport, 
    a1.city AS departure_city, 
    f.arrival_airport, 
    a2.city AS arrival_city
FROM Flights f
JOIN Ticket_flights tf ON f.flight_id = tf.flight_id
JOIN Tickets t ON tf.ticket_no = t.ticket_no
JOIN Airports a1 ON f.departure_airport = a1.airport_code
JOIN Airports a2 ON f.arrival_airport = a2.airport_code
WHERE t.passenger_name = 'ELLA DMITRIEVA';

7 rows affected.

[('SVO', 'Moscow', 'SVX', 'Yekaterinburg'),
 ('SVX', 'Yekaterinburg', 'SVO', 'Moscow'),
 ('SVX', 'Yekaterinburg', 'MQF', 'Magnetiogorsk'),
 ('MQF', 'Magnetiogorsk', 'SVX', 'Yekaterinburg'),
 ('DME', 'Moscow', 'UUS', 'Yuzhno-Sakhalinsk'),
 ('DME', 'Moscow', 'HMA', 'Khanty-Mansiysk'),
 ('HMA', 'Khanty-Mansiysk', 'DME', 'Moscow')]